@page "/"
<h3>Bienvenue sur le jeu du pendu</h3>
<div>
    @ViewModel.Masque
</div>
<div>
    Nombre d'essais : @ViewModel.NombreEssai
</div>
<div>
    <input type="text" @bind="@ViewModel.Lettre" placeholder="Merci de choisir un caractère" />
    <button @onclick="ViewModel.TesterLettre">Valider</button>
    
</div>

@for (int i = 1; i <= 10; i++)
{
    <button @onclick="() => ViewModel.TestElement(i)"></button>
}


<div>
    @ViewModel.Message
</div>
@code {
    
}