@page "/{GalleryType?}"
<h3>Gallery</h3>

@if (GalleryType != null)
{
    <GalleryContainer GalleryType="@GalleryType"></GalleryContainer>
}

@code {
    [Parameter]
    public string? GalleryType { get; set; }
}