<h3>ComponentB</h3>
<input type="text" @bind="Saisi" />
<button @onclick="ValidationSaisi">valider</button>
@code {
    [Parameter]
    public EventCallback<string> OnInformationSet { get; set; }
    
    public string Saisi { get; set; }

    private void ValidationSaisi()
    { 
        OnInformationSet.InvokeAsync(Saisi);
    }

}