@using FormationBlazor.Components.Services
@using Microsoft.AspNetCore.SignalR.Client

<h3>ComponentB</h3>

<p>Message : @message</p>

<input type="text" @bind="Saisi" />
<button @onclick="ValidationSaisi">valider</button>
@code {
    [Parameter]
    public EventCallback<string> OnInformationSet { get; set; }
    
    public string Saisi { get; set; }
    private string message;
    [Inject]
    private SharedService SharedService { get; set; }
    
    [Inject]
    private HubConnection _hubConnection { get; set; }
    
    [Inject]
    private EventAggregator EventAggregator { get; set; }

    protected override void OnInitialized()
    {
        SharedService.NotifyMessage += (m) =>
        {
            message = m;
            InvokeAsync(() => StateHasChanged());
        };

        EventAggregator.Subscribe<string>((m) =>
        {
            message = m;
            InvokeAsync(() => StateHasChanged());
        });

        _hubConnection.On<string, string>("ReceiveMessage", (user, m) =>
        {
            message = user + " "+ m;
            InvokeAsync(() => StateHasChanged());
        });
        _hubConnection.StartAsync();
    }


    private void ValidationSaisi()
    { 
        OnInformationSet.InvokeAsync(Saisi);
    }

}