@using FormationBlazor.Services
@* @inject IGreetingService GreetingService; *@
@rendermode InteractiveServer
<h3>Hello @Name</h3>
@* <input type="text" @bind="_inputValue"/><button @onclick="ClickDisplay">Afficher</button> *@
<input type="text" value="@_inputValue" @onchange="(args) => { _inputValue = (string?)args?.Value; }"/><button @onclick="@ClickDisplay">Afficher</button>
<div>@_inputValue</div>
